.container {
    display: grid;
    grid-template-areas:
        'header1 header1'
        'nav1 main1'
        'footer1 footer1';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px;
}

.header1 {
    grid-area: header1;
}

.nav1 {
    grid-area: nav1;
}

.main1 {
    grid-area: main1;
}

.footer1 {
    grid-area: footer1;
}

.item {
    padding: 10px;
    border: 1px solid black
}